@import 'tailwindcss';

/* …then your own custom :root { … } variables… */

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@import './theme.css';

:root {
  --background: #ffffff;
  --foreground: #434343;
  --card: #ffffff;
  --card-foreground: #434343;
  --popover: #ffffff;
  --popover-foreground: #434343;
  --primary: #599400;
  --primary-3: #d1eca0;
  --primary-4: #eaf3da;
  --primary-5: #f7faf2;
  --primary-foreground: #ffffff;
  --secondary: #007a8b;
  --secondary-200: #48acb9;
  --secondary-foreground: #ffffff;
  --muted: #d9d9d9;
  --muted-foreground: #6e6f72;
  --accent: #f2f8f9;
  --accent-foreground: #343434;
  --destructive: #e10e0e;
  --destructive-foreground: #ffffff;
  --pri-background: #f1f1f1;
  --pri-grey-1: #676767;
  --pri-grey-2: #6e6f72;
  --pri-grey-3: #8b8c8e;
  --pri-grey-4: #ececec;
  --pri-grey-5: #f8f8f8;
  --pri-dark-5: #c5c5c7;
  --border: #d9d9d9;
  --input: #ebebeb;
  --ring: #a8a9aa;
  --chart-1: #ebbf5e;
  --chart-2: #54d3de;
  --chart-3: #2440a7;
  --chart-4: #d9efb8;
  --chart-5: #dfec9c;
  --sidebar: #ffffff;
  --sidebar-foreground: #434343;
  --sidebar-primary: #434343;
  --sidebar-primary-foreground: #FFFFF;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #d9d9d9;
  --sidebar-ring: #b5b5b5;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.02),
    0 1px 2px -1px hsl(0 0% 0% / 0.02);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.02),
    0 1px 2px -1px hsl(0 0% 0% / 0.02);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.02),
    0 2px 4px -1px hsl(0 0% 0% / 0.02);
  --shadow-lg: 0 1px 5px 0px hsla(0, 0%, 0%, 0.02),
    0 4px 5px -1px hsl(0 0% 0% / 0.02);
  --shadow-xl: 0px 0px 20px 0px rgba(210, 210, 210, 0.596);
  --shadow-2xl: 0px 0px 70px 0px rgba(67, 67, 67, 0.45);
  --spacing: 0.24rem;
  --gradient: linear-gradient(
    135deg,
    #007a8b 0%,
    #3aaf4d 37.01%,
    #a8cb38 85.57%
  );
  --gradient-hover: linear-gradient(
    137.16deg,
    #007a8b -1.5%,
    #3aaf4d 70.96%,
    #a8cb38 126.33%
  );
  --gradient-middle: #3aaf4d;
  --gradient-end: #a8cb38;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #09090b;
  --card-foreground: #fafafa;
  --popover: #09090b;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-3: #d1eca0;
  --primary-4: #eaf3da;
  --primary-5: #def4b8;
  --primary-foreground: #18181b;
  --secondary: #007a8b;
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: #fafafa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fef2f2;
  --pri-background: #09090b;
  --pri-grey-1: #676767;
  --pri-grey-2: #6e6f72;
  --pri-grey-3: #8b8c8e;
  --pri-grey-4: #27272a;
  --pri-grey-5: #27272a;
  --pri-dark-5: #c5c5c7;
  --border: #4d4d4d;
  --input: #27272a;
  --ring: #d4d4d8;
  --chart-1: #2662d9;
  --chart-2: #2eb88a;
  --chart-3: #e88c30;
  --chart-4: #af57db;
  --chart-5: #e23670;
  --sidebar: #18181b;
  --sidebar-foreground: #f4f4f5;
  --sidebar-primary: #1d4ed8;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #f4f4f5;
  --sidebar-border: #27272a;
  --sidebar-ring: #d4d4d8;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.02),
    0 1px 2px -1px hsl(0 0% 0% / 0.02);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.02),
    0 1px 2px -1px hsl(0 0% 0% / 0.02);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.02),
    0 2px 4px -1px hsl(0 0% 0% / 0.02);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.02),
    0 4px 6px -1px hsl(0 0% 0% / 0.02);
  --shadow-xl: 0px 0px 50px 0px rgba(255, 255, 255, 0.201);
  --shadow-2xl: 0px 0px 70px 0px rgba(255, 255, 255, 0.201);
  --gradient: linear-gradient(
    135deg,
    #007a8b 0%,
    #3aaf4d 37.01%,
    #a8cb38 85.57%
  );
  --gradient-middle: #3aaf4d;
  --gradient-end: #a8cb38;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-500: var(--primary-4);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --color-primary: var(--primary);
  --pri-grey-1: #676767;
  --pri-grey-2: #6e6f72;
  --pri-grey-3: #8b8c8e;
  --pri-grey-5: #f8f8f8;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* View Transition Wave Effect */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  /* Ensure the outgoing view (old theme) is beneath */
  z-index: 0;
}

::view-transition-new(root) {
  /* Ensure the incoming view (new theme) is always on top */
  z-index: 1;
}

@keyframes reveal {
  from {
    /* Use CSS variables for the origin, defaulting to center if not set */
    clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
    opacity: 0.7;
  }
  to {
    /* Use CSS variables for the origin, defaulting to center if not set */
    clip-path: circle(150% at var(--x, 50%) var(--y, 50%));
    opacity: 1;
  }
}

::view-transition-new(root) {
  /* Apply the reveal animation */
  animation: reveal 0.4s ease-in-out forwards;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Scrollbar stylings */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  height: 6px; /* Adjust the height for horizontal scrollbars */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: var(--background); /* Light gray background */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: var(--muted); /* Dark gray handle */
  border-radius: 4px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray on hover */
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  /* transition:
    background-color 0s 600000s,
    color 0s 600000s !important; */
    background-color: transparent !important;
}
/* now import your custom Tailwind classes */
@import '../styles/custom.css';
